name: ESP-IDF Build

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    
    - name: Setup ESP-IDF
      uses: espressif/esp-idf-ci-action@v1
      with:
        esp_idf_version: v5.1
        target: esp32s3
        path: .
    
    - name: Build
      run: |
        idf.py fullclean
        idf.py build
    
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: |
          build/*.bin
          build/*.elf
          build/*.map
          build/bootloader/bootloader.bin
          build/partition_table/partition-table.bin
        retention-days: 90
